
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #121212;
    color: white;
}

/* <nav-list> */

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #2a2a2a;
    height: 10vh;
}

.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
}

a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a :hover {
    opacity: 0.7;
}

/* </nav-list> */

/* <Entrada da pesquisa> */

input {
    outline: none;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 3px;
    padding: 8px;
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 15px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* </Entrada da pesquisa> */

/* <Butão> */

button[type="submit"] {
    cursor: pointer;
    padding: 8px 5px;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

button[type="submit"]:hover {
    transition: all 500ms ease-in-out;
    background: #ffffff;
    color: black;
}

/* </Butão> */

/* <Carousel> */

.slider{
    margin: 0 auto;
    width: 800px;
    height: 600px;
    overflow: hidden;
    margin-top: 50px;
    
}

.slides{
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img{
    width: 800px;
}

.manual-navgation{
    position: absolute;
    width: 800px;
    margin-top: -10px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: white;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -25%;
}

#radio3:checked ~ .first{
    margin-left: -50%;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navigation-auto{
    position: absolute;
    width: 800px;
    margin-top: 390px;
    display: flex;
    justify-content: center;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background-color: #FFF;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background-color: #FFF;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background-color: #FFF;
}

/* </Carousel> */

#linha{   
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    border-radius: 5px;
    box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0, 22);
    padding: 20px;
    margin: 10px;
    width: 400px;
}

.button {
    margin-top: 10px;
    padding: 10px 10px;
    color: black;
    background-color: white;
    border-radius: 6px;
}

.button:hover {
    transition: 0.2s;
    background-color: rgb(204, 204, 204);
}

/* <Início do Rodapé> */

footer {
	background-color: #2a2a2a;
	color: #fff;
	padding: 20px;
	text-align: center;
	margin-top: 50px;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

/* </Final do Rodapé> */

/* <Início do campo de Comentários> */

label,textarea {
  margin-left: 20px;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

textarea {
  margin-left: 20px;
  padding: 10px;
  min-width: 1300px;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}

label {
  display: block;
  margin-bottom: 10px;
}

button[value="Enviar"] {
    margin-top: 10px;
    margin-left: 20px;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-radius: 6px;
}

/* </Final do campo de Comentários> */