h1{
    color: red;
    font-size:xx-large;
    
    }
    
    h1::first-letter{color: blue;
    }
    
    nav{color: white;
    }
    header{border: 2px solid black;
        width: auto;padding: auto;margin: auto;
    background-image: url(soldado\ em\ movimento2.gif);
    }
    div{text-align: center;
        
    color: white;
    }
    h2{color: white;
    }
    h3{text-align: center;}
    section{background-color: red;
    border: 2px solid black;
    }
    .flex-container{  display: flex;
        flex-flow: row wrap;
    background-color: gray;
    }
    .flex-container>div{ background-color: #f1f1f1;
        width: 100px;
        margin: 10px;
        text-align: center;
        line-height: 100px;
        height: 100px;
        font-size: 30px;
    }
    p{font-size: ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    video{align-items: center;
    }
    #inicial{
        position: fixed; /*  absolute ou fixed */
        width: 100%;
        z-index: 20;
        height: 100%;
        left: 0px;
        top: 0px;
      }
      footer{border: 5px solid red;
    color: black solid;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    
    
    