h1{
color: red;
font-size:xx-large;
}
nav{color: white;
}
header{border: 2px solid black;
    width: auto;padding: auto;margin: auto;
background-image: url(soldado\ em\ movimento2.gif);
}
div{text-align: center;
    
color: white;
}
h2{color: white;
}
section{background-color: red;
border: 2px solid black;
}
.flex-container{  display: flex;
    flex-flow: row wrap;
background-color: gray;
}
.flex-container>div{ background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 100px;
    height: 100px;
    font-size: 30px;
}
p{font-size: ;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
